body{
    /* font-family: "Balsamiq Sans", sans-serif; */
    color: white;
    margin: 0px;
    padding: 0px;
    background: url(./image/bg.jpg.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* background-position: center; */
}

.left{
    display: inline-block;
    border: 2px solid red;
    position: absolute;
    left: 58px;
    top: 20px;
}

.left img{

/* I can change the color of my image with this function */
    /* filter: invert(100%); */

    width: 135px;
}

.left div{
    text-align: center;
    line-height: 19px;
    font-size: 26px;
}

.mid{
    display: block;
    width: 33%;
    margin: 20px auto;
    border: 2px solid yellow;

}

.right{
    position: absolute;
    right: 34px;
    top: 20px;
    display: inline-block;
    border: 2px solid green;

}

.navbar{
    display: inline-block;
}

.navbar li{
    display: inline-block;
    font-size: 20px;
}

.navbar li a{
    color: white;
    text-decoration: none;
    padding: 34px 23px;
}

.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    color: red;
}

.btn{
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 8px 14px;
    border: 2px solid grey;
    border-radius: 18px;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover{
    background-color: white;
    color: black;
}

.container{
    border: 2px solid white;
    margin: 180px 135px;
    padding: 75px;
    width: 33%;
    border-radius: 28px;
}

.form-group input{
    text-align: center;
    display: block;
    width: 400px;
    padding: 9px;
    border: 2px solid black;
    margin: 10px auto;
    font-size: 20px;
    border-radius: 8px;
}

.container h1{
    text-align: center;
}

.container button{
    display: block;
    width: 130px;
    margin: 25px auto;

}